:host {
    display: block;
    left: 0;
    width: 100%;
    height: 100%;
}

.d-flex {
    height: 78px;
}

#luz {
    box-shadow: 0 0 10px 5px #FFDA80;
}

#oscuridad {
    box-shadow: 0 0 10px 5px #0b474a;
}

#gravedad {
    box-shadow: 0 0 10px 5px #800080;
}