<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand m-1 h1">
    <img [src]="brandImagePath" width="30" height="30" class="d-inline-block align-top" alt="">
    {{ title }}
  </a>

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#headerNavBar" aria-controls="headerNavBar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="headerNavBar">
    <ul class="navbar-nav m-md-2 navbar-nav-scroll" style="--bs-scroll-height: 200px;">
      <li class="nav-item dropdown ms-2">
        <a class="nav-link dropdown-toggle" id="magickNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Magick
        </a>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="magickNavbarDropdown">
          <li><a class="dropdown-item" routerLink="/magick-basic" routerLinkActive="active" ariaCurrentWhenActive="page">Basic</a></li>
          <li><a class="dropdown-item" routerLink="/magick-advanced" routerLinkActive="active" ariaCurrentWhenActive="page">Advanced</a></li>
          <li><a class="dropdown-item" routerLink="/magick-combinations" routerLinkActive="active" ariaCurrentWhenActive="page">Combinations</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" routerLink="/magick-conditions" routerLinkActive="active" ariaCurrentWhenActive="page">Conditions</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<div class="d-flex p-2 justify-content-center align-items-center" [@routeAnimations]="getRouteAnimationData()">
  <router-outlet></router-outlet>
</div>